<form class="mx-auto text-center">
  <div class="mt-2">
    <h4 class="text-center">Расходная накладная</h4>
  </div>
  <div class="grid grid-cols-3 w-full text-center rounded-md px-1">
    <div class="flex flex-col text-start px-3">
      <div class="flex flex-col">
        <label for="number_doc">Номер документа</label>
        <input type="text" id="number_doc" class="input">
      </div>
      <div class="flex flex-col text-start">
        <label for="data_doc">Дата докумета</label>
        <input type="date" id="data_doc" class="input">
      </div>
      <div class="flex flex-col text-start">
        <label>Покупатель</label>
        <mat-select class="py-2 border border-gray-400 rounded-md px-2" value="0">
          <mat-option value="0">Покупатель 1</mat-option>
          <mat-option value="1">Покупатель 2</mat-option>
          <mat-option value="2">Покупатель 3</mat-option>
          <mat-option value="3">Покупатель 4</mat-option>
        </mat-select>
      </div>
      <div class="flex flex-col text-start">
        <label for="supplier-select">Поставщик</label>
        <mat-select id="supplier-select" class="py-2 border border-gray-400 rounded-md px-2" value="0">
          <mat-option value="0">Моя фирма</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="flex flex-col text-start px-3">
      <div class="flex flex-col text-start">
        <label for="store">Склад</label>
        <input type="text" id="store" class="input">
      </div>
      <div class="flex flex-col text-start">
        <label for="check">Счет</label>
        <input type="text" id="check" class="input">
      </div>
      <div class="flex flex-col text-start">
        <label for="currency">Валюта</label>
        <input type="text" id="currency" class="input">
      </div>
    </div>
    <div class="flex flex-col text-start px-3">
      <div class="flex flex-col text-start">
        <label for="basis">Основание</label>
        <input type="text" id="basis" class="input">
      </div>
      <div class="flex flex-col text-start">
        <label for="note">Примечание</label>
        <input type="text" id="note" class="input">
      </div>
      <div class="flex flex-col text-start">
        <label for="scan_doc">Скан. документа</label>
        <input type="text" id="scan_doc" class="input">
      </div>
    </div>
  </div>
  <div class="grid mt-2 w-full px-2 py-2 ">
    <nav>
      <div class="w-full mb-2 text-start px-1">
        <button class="btn btn-action mr-1">Добавить</button>
        <button class="btn btn-action mr-1">Сохранить</button>
        <button class="btn btn-action mr-1">Провести</button>
        <button class="btn btn-red mr-1">Очистить</button>
      </div>
    </nav>
    <table class="grid grid-cols-1 px-1 py-1 w-full justify-center items-center mx-auto">

      <tr class="grid grid-cols-7 justify-between border border-slate-500">
        <th>Наименование</th>
        <th>Артикул</th>
        <th>Единицы</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Сумма</th>
        <th></th>
      </tr>

      <ng-container *ngFor="let product of productService.products">
        <tr class="grid grid-cols-7 mt-2 px-2 py-2 justify-between text-center border border-slate-500">
          <td>{{ product.title }}</td>
          <td>{{ product.article }}</td>
          <td>шт</td>
          <td>{{ product.qty }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.qty * product.price }}</td>
          <td>
            <div>
              <fa-icon [icon]="editIcon" class="text-amber-500 mr-2"></fa-icon>
              <fa-icon [icon]="deleteIcon" class="text-red-500"></fa-icon>
            </div>
          </td>
        </tr>
      </ng-container>

      <tr class="grid grid-cols-7  mt-2 px-2 py-2 justify-between text-end border border-slate-500">
        <td class="col-span-5 text-end">Сумма:</td>
        <td>0</td>
      </tr>
      <tr class="grid grid-cols-7 mt-2 px-2 py-2 justify-between text-end border border-slate-500">
        <td class="col-span-5 text-end">Оплачено:</td>
        <td>0</td>
      </tr>
    </table>
  </div>
</form>
