<div class="grid grid-cols-8 m-1 border border-slate-500 items-center rounded-xl">
  <div>
    <img src="#" alt="image" class=" w-1/3 p-2">
  </div>
  <div>
    {{ product.code }}
  </div>
  <div>
    {{ product.article }}
  </div>
  <div>
    {{ product.title }}
  </div>
  <div>
    10
  </div>
  <div>
    560UAH
  </div>
  <div class="flex">
    <button
      class="btn btn-green mr-1">
      заказать
    </button>
    <button (click)="update(product)"
            class="btn btn-yellow mr-1">
      изменить
    </button>
    <button (click)="remove(product.id)"
            class="btn btn-red">
      удалить
    </button>
  </div>
</div>
