<div>
  <button class="btn btn-action w-full my-1"
          (click)="modalService.openModal('Добавить номенклатуру')">
    Добавить номенклатуру
  </button>
</div>
<table class="mx-auto w-full" *ngIf="productService.products">
  <tr [ngClass]="{
      admin_table__header: isAdmin,
      user_table__header: !isAdmin
    }"
      class="grid grid-cols-9">
    <th>Изображение</th>
    <th>Код</th>
    <th>Артикул</th>
    <th>Наименование</th>
    <th>Производитель</th>
    <th>Категория</th>
    <th>Количество</th>
    <th>Цена закупки</th>
    <th>Действие</th>
  </tr>


  <tr stopPropagation *ngFor="let product of productService.products "
      (click)="modalService.openModal('Добавить номенклатуру')"
      [ngClass]="{
      admin_table__body: isAdmin,
      user_table__body: !isAdmin
    }"
      class="grid grid-cols-9"
  >
    <td stopPropagation (click)="modalService.openModal('Image')">
      <!--        // TODO открытие изображения в модальном окне-->

      <img [src]="product.imageUrl" alt="{{product.title}}"
           class="mx-auto image-circle">
    </td>
    <td>{{ product.code }}</td>
    <td>{{ product.article }}</td>
    <td>{{ product.title }}</td>
    <td>{{ product.brand }}</td>
    <td>{{ product.categoryId | getCategoryTitleById }}</td>
    <td>{{ product?.stores?.[0]?.ProductStore?.qty }}</td>
    <td>{{ product?.stores?.[0]?.ProductStore?.priceIn | currency: 'EUR ' }}</td>
    <td>
      <div *ngIf="isAdmin">
        <fa-icon stopPropagation class="btn btn-orange mr-2 px-2"
                 [icon]="editIcon"
                 (click)="modalService.openModal('Редактировать номенклатуру',product)">
          update
        </fa-icon>
        @if (product?.stores?.[0]?.ProductStore?.qty === 0) {
          <fa-icon stopPropagation class="btn btn-red px-2" (click)="delete(product.id)"
                   [icon]="deleteIcon"
          >delete
          </fa-icon>
        }
      </div>
    </td>
  </tr>
</table>

<ng-container *ngIf="modalService.isVisible$()">
  <app-modal [title]="modalService.titleSing()">
    <app-product-form></app-product-form>
  </app-modal>
</ng-container>
