<main>
  <table class="mx-auto w-full">
    <tr
      class=" w-full bg-black grid grid-cols-6 px-4 py-1 justify-between border border-slate-500 h-[50px] items-center">
      <th>Image</th>
      <th>Code</th>
      <th>Article</th>
      <th>Title</th>
      <th>Qty</th>
      <th>Price</th>
    </tr>


    <tr *ngFor="let product of products"
        (click)="modalService.openModal()"
        class="grid grid-cols-6 mt-1 px-4 py-1 text-center
        items-center cursor-pointer select-none border border-slate-500
      ">
      <td><img [src]="product.imageUrl" alt="{{product.title}}" class="mx-auto image-circle">
      </td>
      <td>{{ product.code }}</td>
      <td>{{ product.article }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.qty }}</td>
      <td>{{ product.price | uahToEur: 40 | currency: 'EUR ' }}</td>
    </tr>
  </table>

  <ng-container *ngIf="modalService.isVisible | async">
    <app-modal title="Create product">
      <app-product-form></app-product-form>
    </app-modal>
  </ng-container>

</main>

