<main>
  <!--  *ngIf="productService.products"-->
  <table class="mx-auto w-full justify-between">
    <tr class="w-full grid grid-cols-5 px-4 py-1 justify-between
    border border-slate-500 h-[50px] items-center">
      <th>Дата</th>
      <th>Номер</th>
      <th>Тип документа</th>
      <th>Сумма</th>
      <th></th>
    </tr>


    <!--        (click)="modalService.openModal('Create product')"-->
    <tr stopPropagation
        class="grid grid-cols-5 mt-1 px-4 py-1 text-center
        items-center cursor-pointer select-none border border-slate-500"
    >
      <td> {{ Date.now() | date }}</td>
      <td>№ ER-000010</td>
      <td>Приходная накладная</td>
      <td>15676.09</td>
      <!--      <td> product.price | uahToEur: 40 | currency: 'EUR ' </td>-->
      <td>
        <div *ngIf="isAdmin">
          <button stopPropagation class="btn btn-orange mr-1"
                  (click)="modalService.openModal('Редактирование')">
            update
          </button>
          <!--          (click)="delete(product.id)"-->
          <button stopPropagation class="btn btn-red">Удаление</button>
        </div>
      </td>
    </tr>
  </table>
</main>

