<div class="max-w-screen-xl mx-auto">
  <!-- Header -->
  <app-header></app-header>

  <!-- promotion -->
  <app-promotion></app-promotion>

  <main class="">
    <div class="w-full">

      <!-- products -->
      <section class="px-2">
        <div
          class="md:grid-cols-5 content-center lg:grid items-center space-x-2 overflow-y-auto whitespace-pre-wrap">
          @for (product of productService.products; track product.id) {
            <app-product-card [product]="product"></app-product-card>
          }
        </div>

        <!-- pagination -->
        <div class="mt-20 mb-10">
          <ul class="flex justify-center">
            <li><a href="#" class="pagination-item rounded-l-2xl">Previous</a></li>
            <li><a href="#" class="pagination-item">1</a></li>
            <li><a href="#" class="pagination-item">2</a></li>
            <li><a href="#" class="pagination-item text-blue-500 hover:bg-blue-100">3</a></li>
            <li><a href="#" class="pagination-item">4</a></li>
            <li><a href="#" class="pagination-item">5</a></li>
            <li><a href="#" class="pagination-item rounded-r-2xl">Next</a></li>
          </ul>
        </div>
      </section>
    </div>

  </main>

  <!-- footer -->
  <app-footer></app-footer>
</div>

