<div class="max-w-screen-2xl mx-auto">
  <!-- Header -->
  <app-header></app-header>

  <!-- navigation -->
  <app-navigation></app-navigation>

  <!-- promotion -->
  <app-promotion></app-promotion>

  <main class="w-full">
    <div class="flex w-screen-xl gap-1">

      <!-- categories -->
      <section class="px-2 w-1/5">
        <div class="bg-blue-900">
          <h6 class="text-white font-semibold px-2 py-4">Категории</h6>
        </div>
        <div>
          <app-sidebar [categories]="categoryService.categories"></app-sidebar>
        </div>
      </section>

      <app-shop></app-shop>

    </div>
  </main>

  <!-- footer -->
  <app-footer></app-footer>
</div>

