@if (authService.isAdmin$()) {
  <div class="wrapper">
    <header
      class="flex flex-row h-[80px] items-center justify-between px-4">
      <div>
        <button (click)="showSideBar()">
          <fa-icon [icon]="menuIcon" class="px-2"></fa-icon>
        </button>
        <a>LOGO</a>
      </div>
      <nav>
        <button (click)="exit()" class="px-2 inline-flex">
          <span>Выход </span>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
            </svg>
          </span>
        </button>
      </nav>
    </header>
    <main>
      <div class="flex w-screen-xl gap-1">
        @if (isSideBarShow()) {
          <div class="bg-black w-1/6">
            <app-sidebar></app-sidebar>
          </div>
        }
        @if (isSideBarShow()) {
          <div class="w-5/6">
            <router-outlet></router-outlet>
          </div>
        } @else {
          <div class="w-full">
            <router-outlet></router-outlet>
          </div>
        }
      </div>
    </main>
  </div>
} @else {
  <app-header></app-header>
  <app-navigation></app-navigation>
  <div class="max-w-screen-2xl mx-auto">
    <!--    <app-promotion></app-promotion>-->
    <!--    <app-shop></app-shop>-->
    <app-main></app-main>
  </div>
  <app-footer></app-footer>
}
