<form (ngSubmit)="submit()" [formGroup]="customerForm">
  <div class="flex flex-col w-2/3 text-center mx-auto my-6">
    <h4 class="text-white text-center">Клиент</h4>
    <div>
      <div class="grid mx-auto w-1/2 mt-2 text-start">
        <label for="name">Имя</label>
        <input
          class="input"
          formControlName="name"
          [defaultValue]="customer?.name"
          required
          type="text" id="name" placeholder="Имя...">
      </div>
      <div
        *ngIf="customerForm.controls['name'].hasError('required')
          && customerForm.controls['name'].touched"
        class="grid mx-auto w-1/2 mt-1 text-start">
        <span class="text-red-600">Required field</span>
      </div>
      <div class="grid mx-auto w-1/2 mt-2 text-start">
        <label for="surname">Фамилия</label>
        <input
          formControlName="surname"
          [defaultValue]="customer?.surname"
          class="input"
          type="text" id="surname" placeholder="Фамилия...">
      </div>
      <div class="grid mx-auto w-1/2 mt-2 text-start">
        <label for="email">Электронная почта</label>
        <input
          formControlName="email"
          [defaultValue]="customer?.email"
          required
          class="input"
          type="email" id="email" placeholder="Эл. почта...">
      </div>
      <div
        *ngIf="customerForm.controls['email'].hasError('required')
          && customerForm.controls['email'].touched"
        class="grid mx-auto w-1/2 mt-1 text-start">
        <span class="text-red-600">Required field</span>
      </div>
      <div
        *ngIf="customerForm.controls['email'].hasError('email')"
        class="grid mx-auto w-1/2 mt-1 text-start">
        <span class="text-red-600">Enter correctly email</span>
      </div>
      <div class="grid mx-auto w-1/2 mt-2 text-start">
        <label for="phone">Телефон</label>
        <input
          class="input"
          formControlName="phone"
          [defaultValue]="customer?.phone"
          required
          type="text" id="phone" placeholder="Телефон...">
      </div>
      <div
        *ngIf="customerForm.controls['phone'].hasError('required')
          && customerForm.controls['phone'].touched"
        class="grid mx-auto w-1/2 mt-1 text-start">
        <span class="text-red-600">Required field</span>
      </div>
      <div class="grid mx-auto w-1/2 mt-2 text-start">
        <label for="description">Описание</label>
        <textarea
          formControlName="description"
          [defaultValue]="customer?.description"
          placeholder="Введите описание..." id="description" class="rounded-md text-black p-2"></textarea>
      </div>
      <div class="text-center mt-3 w-1/2 mx-auto">
        <button
          class="btn btn-action my-1 py-3 w-full"
          [disabled]="this.customerForm.invalid"
          type="submit"
        >Сохранить
        </button>
        <button class="btn btn-orange my-1 py-3 w-full" (click)="exit()">Отменить
        </button>
      </div>
    </div>
  </div>
</form>

