<table class="w-full">
  <tr stopPropagation
      (click)="detail(order?.productList ?? [])"
      class="grid grid-cols-6 mt-1 px-4 py-2 text-center
        items-center cursor-pointer select-none border-b border-slate-500">
    <td>{{ order?.id }}</td>
    <td>{{ findCustomer(order?.userId ?? 0) }}</td>
    <td>{{ order?.city }}</td>
    <td>{{ order?.post }}</td>

    <td>{{ sumOrder(order?.productList ?? []) | eurToUah }} грн</td>

    <td>
      <fa-icon [icon]="visible" class="px-2 text-green-600 cursor-pointer"
               stopPropagation
               (click)="detail(order?.productList ?? [])"></fa-icon>
      <fa-icon [icon]="editIcon" class="px-2 text-amber-600 cursor-pointer"
               stopPropagation
               (click)="addOrderInOutgoingInvoice(order!)"></fa-icon>
      <fa-icon [icon]="deleteIcon" class="px-2 text-red-600 cursor-pointer"
               stopPropagation
               (click)="delete(order?.id!)"></fa-icon>
    </td>
  </tr>
</table>
