<form
  [formGroup]="productForm"
  (ngSubmit)="submit()">

  <div class="flex flex-col text-center mx-auto my-6">
    <!-- Code product -->
    <div class="flex flex-col">
      <label for="code" class="text-start text-sm mt-2">Код</label>
      <input
        formControlName="code"
        required
        [defaultValue]="product?.code"
        [readOnly]="product?.id"
        type="text" id="code" class="input" placeholder="Code:">
    </div>
    <div class="inline-flex"
         *ngIf="productForm.controls['code'].invalid &&
    (productForm.controls['code'].dirty || productForm.controls['code'].touched)">
      <div class="text-red-600 mt-1 text-sm"
           *ngIf="productForm.controls['code'].hasError('required')">
        Code is required
      </div>
      <div class="text-red-600 mt-1 text-sm"
           *ngIf="productForm.controls['code'].hasError('minlength')
          || productForm.controls['code'].hasError('maxlength')">
        Code have be 8 chars
      </div>

    </div>

    <!-- Article product -->
    <div class="flex flex-col">
      <label for="article" class="text-start  text-sm mt-2">Артикул</label>
      <input
        formControlName="article"
        required
        [defaultValue]="product?.article"
        type="text" id="article" class="input" placeholder="Article:">
    </div>
    <div class="inline-flex"
         *ngIf="productForm.controls['article'].invalid &&
    (productForm.controls['article'].dirty || productForm.controls['article'].touched)">

      <div class="text-red-600 mt-1 text-sm"
           *ngIf="productForm.controls['article'].hasError('required')">
        Article is required
      </div>
    </div>

    <!-- Title product -->
    <div class="flex flex-col">
      <label for="title" class="text-start text-sm mt-2">Наименование</label>
      <input
        formControlName="title"
        required
        [defaultValue]="product?.title"
        type="text" id="title" class="input" placeholder="Title:">
    </div>
    <div class="inline-flex"
         *ngIf="productForm.controls['title'].invalid &&
    (productForm.controls['title'].dirty || productForm.controls['title'].touched)">

      <div class="text-red-600 mt-1 text-sm">
        Title is required
      </div>
    </div>

    <!--  Brand product-->
    <div class="flex flex-col">
      <label for="brand" class="text-start mt-2">Производитель</label>
      <input
        formControlName="brand"
        required
        [defaultValue]="product?.brand"
        type="text" id="brand" class="input" placeholder="Brand:">
    </div>

    <!-- Category product -->
    <div class="flex flex-col">
      <label for="category" class="text-start mt-2">Категория по умолчанию</label>
      <mat-select id="category" class="py-1 border border-gray-400 rounded-md px-2 text-start"
                  formControlName="category"
                  value="{{product?.categoryId}}"
      >
        @for (category of categoryService.categories; track category.id) {
          <mat-option [value]="category.id">{{ category?.title }}</mat-option>
        }
      </mat-select>

    </div>

    <!--  Price-->
    <div class="flex flex-col hidden">
      <label for="price" class="text-start mt-2">Цена в {{ currentCurrency.name }}</label>
      <input
        formControlName="price"
        [readOnly]="true"
        [defaultValue]="product?.price"
        type="text" id="price" class="input" placeholder="Price:">
    </div>

    <!--  Qty-->
    <div class="flex flex-col hidden">
      <label for="qty" class="text-start text-sm mt-2">Количество</label>
      <input
        formControlName="qty"
        [readOnly]="true"
        [defaultValue]="product?.qty"
        type="text" id="qty" class="input" placeholder="Qty:">
    </div>

    <!--  Image product-->
    <div
      (click)="upload.click()" tabindex="0"
      class="flex flex-row mt-2 place-content-around items-center">
      <img [src]="this.previewImage()" alt="Изображение" [ngClass]="{
        upload_image: this.previewImage(),
        none_image: !this.previewImage()
      }">
      <div class="flex flex-row items-center justify-around mt-2">
        <div class="flex flex-col">
          <fa-icon [icon]="uploadIcon" class="text-2xl text-green-600 items-center"
          ></fa-icon>
          @if (!previewImage()) {
            <p>Загрузите изображение</p>
          } @else {
            <p>Изменить изображение</p>
          }
        </div>

        <input
          #upload
          tabindex="-10"
          formControlName="picture"
          [defaultValue]="product?.imageUrl"
          (change)="fileHandler($event)"
          accept="image/*,.png, .jpg"
          type="file" id="picture" class="input opacity-0 hidden">
      </div>
    </div>

    <div class="text-center mt-3 mx-auto w-full">
      <button [disabled]="this.productForm.invalid" class="btn btn-action my-1 py-3 w-full" type="submit">Сохранить
      </button>
      <button *ngIf="!product?.id" class="btn btn-orange my-1 py-3 w-full"
              (click)="resetForm()">Отменить
      </button>
    </div>
  </div>
</form>

