<form class="flex flex-col mx-auto"
      [formGroup]="productForm"
      (ngSubmit)="submit()">
  <!-- Code product -->
  <div class="flex flex-col">
    <label for="code" class="text-slate-400 text-sm mt-2">Code</label>
    <input
      formControlName="code"
      required
      value="{{product?.code}}"
      type="text" id="code" class="input" placeholder="Code:">
  </div>
  <div class="inline-flex"
       *ngIf="productForm.controls['code'].invalid &&
    (productForm.controls['code'].dirty || productForm.controls['code'].touched)">
    <div class="text-red-600 mt-1 text-sm"
         *ngIf="productForm.controls['code'].hasError('required')">
      Code is required
    </div>
    <div class="text-red-600 mt-1 text-sm"
         *ngIf="productForm.controls['code'].hasError('minlength')
          || productForm.controls['code'].hasError('maxlength')">
      Code have be 8 chars
    </div>

  </div>

  <!-- Article product -->
  <div class="flex flex-col">
    <label for="article" class="text-slate-400 text-sm mt-2">Article</label>
    <input
      formControlName="article"
      required
      value="{{product?.article}}"
      type="text" id="article" class="input" placeholder="Article:">
  </div>
  <div class="inline-flex"
       *ngIf="productForm.controls['article'].invalid &&
    (productForm.controls['article'].dirty || productForm.controls['article'].touched)">

    <div class="text-red-600 mt-1 text-sm"
         *ngIf="productForm.controls['article'].hasError('required')">
      Article is required
    </div>
  </div>
  <!-- Title product -->
  <div class="flex flex-col">
    <label for="title" class="text-slate-400 text-sm mt-2">Title</label>
    <input
      formControlName="title"
      required
      value="{{product?.title}}"
      type="text" id="title" class="input" placeholder="Title:">
  </div>
  <div class="inline-flex"
       *ngIf="productForm.controls['title'].invalid &&
    (productForm.controls['title'].dirty || productForm.controls['title'].touched)">

    <div class="text-red-600 mt-1 text-sm">
      Title is required
    </div>
  </div>

  <!--  Brand product-->
  <div class="flex flex-col">
    <label for="brand" class="text-slate-400 text-sm mt-2">Brand</label>
    <input
      formControlName="brand"
      required
      type="text" id="brand" class="input" placeholder="Brand:">
  </div>

  <!--  Price-->
  <div class="flex flex-col">
    <label for="price" class="text-slate-400 text-sm mt-2">Price</label>
    <input
      formControlName="price"
      required
      type="text" id="price" class="input" placeholder="Price:">
  </div>

  <!--  Qty-->
  <div class="flex flex-col">
    <label for="qty" class="text-slate-400 text-sm mt-2">Qty</label>
    <input
      formControlName="qty"
      required
      type="text" id="qty" class="input" placeholder="Qty:">
  </div>


  <!--  Image product-->
  <div class="flex flex-col">
    <label for="picture" class="text-slate-400 text-sm mt-2">Picture</label>
    <input
      formControlName="picture"
      type="text" id="picture" class="input" placeholder="Picture:">
  </div>

  <div class="flex items-center gap-4 mt-5 justify-center">
    <button [disabled]="this.productForm.invalid" class="btn btn-green" (click)="submit()">Confirm</button>
    <button class="btn btn-red" (click)="back()">Cancel</button>
  </div>
</form>

